@charset "utf-8";

/* 共通 */
html {font-size: 100%;}

body {
  /* font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif; */
  font-family: 'Amatic SC', cursive;
  line-height: 1.7;
  color: #432
}
a {text-decoration: none;}
img {
  max-width: 100%;
  height: auto;
}
/* 共通 */

.logo {
  width: 210px;
  margin-top: 14px;
}

.main-nav {
  display: flex;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}
.main-nav li {
  margin-left: 40px;
}
.main-nav a {  color: #432;}
.main-nav a:hover { color: #0bd;}

.page-header {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  max-width: 1000px;
  max-height: min-content;
  margin: 0 auto;
  padding: 0 4%;
}

/* home */
.home-content {
  text-align: center;
  margin-top: 10%;
}
.home-content p  {
  font-size: 1.8rem;
  margin: 10px 0 30px;
}

/* 見出し */
#home .page-title {
  font-size: 8rem;
  font-family: 'Amatic SC', cursive;
  text-transform: uppercase;
  font-weight: normal;
}
/* ボタン */
.button {
  font-size: 1.375rem;
  background: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}
.button:hover {background: #0090aa;}

.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home {
  background-image: url(../images/hike4.jpeg);
  min-height: 100vh;
  background-color: whitesmoke;
  background-blend-mode: hard-light;
}
#home /.page-title { text-transform: none;}

.title {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#Contact .sns {
  font-size: 42px;
  margin-top: 30px;
  /* text-align: center; */
  text-decoration: underline; 
}
#Contact address {
  font-size: 42px;
  margin-top: 120px;
  text-decoration: underline;
  /* text-align: center; */
}

/* footer */
footer {
  background: #432;
  text-align: center;
  padding: 26px 0;
  margin-top: 50px;
}
footer p {
  color: #fff;
  font-size: 1.5rem;
}

@media (max-width: 1000px)
{ 1000 以上の時 }
@media (min-width: 670px)
{ 670 以下の時 }

